.img {
    width: 45px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    animation: rotate 2s infinite linear;
}


/* animation for rotation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input{
  position: absolute;
  right: 16em;
  outline: none;
  border: none;
  color: black;
  padding: 5px 10px;
  width: 300px;
  height: 35px;
  margin-top: 6px;
  background: black;
  font-size: 16px;
  border: 1px solid white;
  font-weight: 400;
  color:  #7DF9FF;
}
.hover{
  padding: 8px 16px;
  border-radius: 100px;
  color: black;
  position: absolute;
  top: 80%;
  right: 8em;
  font-size: 0.8em;
  z-index: 1;
  font-size: 20px;
}

.List{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.Listz{
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.Home{
  margin-top: 1px;
}

/* for mobile css */

@media screen and (max-width: 768px) {
 
  .Home{
    display: none !important;
  }
  .input{
    right: 12em;
    width: 250px;
  }
}

@media screen and (max-width: 530px) {
  .input{
    top: 2.4em;
    width: 100vw;
    right: 0.2em;
    /* display: none !important; */
  }
}

 